ProjetGestionStock/Connected Services/ServiceGestionStock/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65014/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierGestionStock" />
  <xs:import schemaLocation="http://localhost:65014/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierGestionStock" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierGestionStock" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="getListProduitResult" nillable="true" type="q3:ArrayOfproduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierProduitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="p" nillable="true" type="q4:produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supprimerProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCategorie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="getListCategorieResult" nillable="true" type="q5:ArrayOfcategorieproduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProdJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProdJoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="getProdJoinResult" nillable="true" type="q6:ArrayOfJointureProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportJoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="getReportJoinResult" nillable="true" type="q7:ArrayOfReportProduitStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="getListStocksResult" nillable="true" type="q8:ArrayOfstock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libelle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="searchProduitResult" nillable="true" type="q9:ArrayOfJointureProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activerDesactiverUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activerDesactiverUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="user" nillable="true" type="q10:utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="searchResult" nillable="true" type="q11:ArrayOfJointureProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetierGestionStock.Model" minOccurs="0" name="searchCategorieResult" nillable="true" type="q12:ArrayOfcategorieproduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>